html{
  scroll-behavior: smooth;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fb;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}